body {
    background-color: #e7ebf0fe;
    text-align: center;
    color: #3a3a3b;
    font-family: sans-serif, Arial;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

h1 {
    font-size: 3em;
    margin-top: 0; /* Remova a margem inferior do h1 */
    margin-bottom: 0;
    align-items: left;
}

h3 {
    color: #3576ee;
    margin-bottom: 0; /* Remova a margem superior do h2 */
    align-items: left;
   
}   





.faq-container {
    display: center;
    justify-content: center;
}

/* Estilos comuns para todas as perguntas */
.faq-item h2 {
    color: #007bff;
    cursor: pointer;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    color: #9a9a9a;
}

.expanded {
    max-height: 10em;
}

.search-bar {
    width: 600px;
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 1em 1.333em -0.667em rgba(105, 105, 114, 0.3);
}

.column {
    width: 38%;
    display: inline-block;
    vertical-align: top;
}



.faq-item.left {
    background: #FFFFFF;
    box-shadow: 0px 1em 1.333em -0.667em rgba(105, 105, 114, 0.3);
    border-radius: 7px;
    padding: 1em 1em; /* Reduzindo o preenchimento vertical e horizontal */
    margin-bottom: 2.5em; /* Reduzindo a margem */
    float: left;
    width: 80%; /* Reduzindo a largura */
    max-height: 17em; /* Defina a altura máxima desejada */
    overflow: auto; /* Permite rolagem vertical se o conteúdo exceder a altura máxima */
    text-align: left; /* Alinhamento do texto à esquerda */
}

/* Estilos para as perguntas à direita */
.faq-item.right {
    background: #FFFFFF;
    box-shadow: 0px 1em 1.333em -0.667em rgba(105, 105, 114, 0.3);
    border-radius: 7px;
    padding: 1em 1em; /* Reduzindo o preenchimento vertical e horizontal */
    margin-bottom: 2.5em; /* Reduzindo a margem */
    float: right;
    width: 80%; /* Reduzindo a largura */
    max-height: 17em; /* Defina a altura máxima desejada */
    overflow: auto; /* Permite rolagem vertical se o conteúdo exceder a altura máxima */
    text-align: left; /* Alinhamento do texto à esquerda */
}